<div id="header">
<table width=100% height=100%><tr>
	<td width=20 align="right">
	</td>
	<td width=50%>
		Welcome to the SpaceGrid, <%= session[:user_name] %>
	</td>
	<td width=0% align="right">
		<form action='/sessions/destroy' method="POST">
		<button id="logout">Log Out</button>
		<input name='authenticity_token' value='<%=form_authenticity_token() %>' type='hidden'>
		</form>
	</td>
	<td width=20 align="right">
	</td>
	
</tr></table>
</div>

<!-- this button is just a yo button. It does nothing. -->
<center>
<h2><%= articles.title %></h2>
<img src="<%= articles.img_url %>" width=600px/>
<br><br>
<div id="comments">
<% comments.each do |comment| %>
	<p id='nameandtime'><%= comment.user.name %> - <%= comment.user.created_at %></p>
	<%= comment.text %>
	<br><br>
	
	<% comment.subcomments.each do |x| %>
		<p id='subnameandtime'><%= x.user.name %> - <%= x.user.created_at %></p>
		<p id='subcomment'><%= x.text %></p>
	<% end %>
	
<% end %>

<form method='POST' action='/articles/<%= articles.id %>/comments'>
	<label>Comment<br>
	<textarea name='commentText' rows='4' cols='50'></textarea><br>
	<input name='authenticity_token' value='<%=form_authenticity_token() %>' type='hidden'>
	<button>Submit</button>
</form>



</div>
</center>
<br>
