<!-- this button is just a yo button. It does nothing. -->
<center>
<h2><%= articles.title %></h2>
<img src="<%= articles.img_url %>" width=600px/>
<br><br>
<div id="comments">
<% comments.each do |comment| %>
	<p id='nameandtime'><%= comment.user.name %> - <%= comment.user.created_at %></p>
	<%= comment.text %>
	<br><br>
	
	<% comment.subcomments.each do |x| %>
		<p id='subnameandtime'><%= x.user.name %> - <%= x.user.created_at %></p>
		<p id='subcomment'><%= x.text %></p>
	<% end %>
	
<% end %>



</div>
</center>
<br>
