<div id="backg">
<img src='http://i.imgur.com/0JCPxKP.jpg'>
</div>

<div id="header">
	<table width=100% height=100%>
		<tr>
			<td width=20 align="right">
			</td>
			<td width=50%>
				Welcome to <a href='/articles'>SpaceGrid</a>, <a href='/users/<%=session[:user_id]%>'><%= session[:user_name] %></a>
			</td>
			<td width=0% align="right">
				<form action='/sessions/destroy' method="POST">
				<button id="logout">Log Out</button>
				<input name='authenticity_token' value='<%=form_authenticity_token() %>' type='hidden'>
				</form>
			</td>
			<td width=20 align="right">
			</td>
		</tr>
	</table>
</div>
<br>
<center>
	<a href='<%= articles.img_url %>'><img src="<%= articles.img_url %>" width=600px/></a>
	<h2><%= articles.title %></h2>
	<br><br>
	<div id="comments">
		<% comments.each do |comment| %>
			<p id='nameandtime'><%= comment.user.name %> - <%= comment.created_at %></p>
			<p id='commenttext'><%= comment.text %></p>
			<br>
		<% end %>
		<br>
		<form method='POST' action='/articles/<%= articles.id %>/comments'>
			<label>Comment<br>
			<textarea name='commentText' rows='4'></textarea><br>
			<input name='authenticity_token' value='<%=form_authenticity_token() %>' type='hidden'>
			<button id='submit'>Add A Comment</button>
		</form>
	</div>
</center>
<br><br>
<a name='bottom'></a>