<h2>Pending Articles Landing Page</h2>
<hr>

<table>
<tr>
<td width=50% valign=top>
<h3>Pending Articles</h3>
<table width=400px>
	<tr>
		<td>
			<button id='getredditposts'>Poll Reddit for New Top Posts...</button> 
		</td>
		<td>
			<a href='/articles'>Go To Articles Page</a>
		</td>
	</tr>
</table>
<% pending.each do |article| %>
<span>
	
	<img src="<%= article.img_url %>" width="300"><br>
	<%= article.title %><br>
	<input type="hidden" name='title' value='<%= article.title %>'>
	<input type="hidden" name='img_url' value='<%= article.img_url %>'>

	<button id="yes" data-pic-id="<%= article.id %>">Yup.</button> 
	<button id="kill" data-pic-id="<%= article.id %>">Nope.</button>
	<br><br>
</span>
<% end %>
</td>
<td width=50% valign=top>
<h3>Accepted Articles</h3>
<div id='acceptedArticles'>
	<% accepted_articles.each do |accepted_article| %>
	<span>
		<img src="<%= accepted_article.img_url %>" width='300'><br>
		<%= accepted_article.title %>
		<input type="hidden" name='title' value='<%= accepted_article.title %>'>
		<input type="hidden" name='img_url' value='<%= accepted_article.img_url %>'>

		<button id="killDuplicate" data-pic-id="<%= accepted_article.id %>">Nope.</button>

		<br><br>
	</span>
	<% end %>
</div>
</td>
</tr>
</table>




